@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
  font-family: 'Inter', sans-serif;
  background-color: #F9E639;
  background-image: url("../public/bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.drum-machine {
  border: 4px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 48px;
  border-radius: 24px;
  box-shadow: 8px 8px black;
  background-color: #fff;
}

#display {
  padding: 0.75em 2em;
  border: 2px solid black;
  border-radius: 12px;
  margin-bottom: 2em;
  width: 80%;
  background-color: black;
  color: #1BA962;
  font-weight: bold;
  text-align: center;
  letter-spacing: .25em;
}

.pads {
  width: 320px;
  height: 320px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  column-gap: 24px;
  row-gap: 24px;
}

@media only screen and (max-width: 576px) {

  body {
    background-size: cover;

  }

  .drum-machine {
    padding: 32px;
  }

  .pads {
    width: 240px;
    height: 240px;
    column-gap: 16px;
    row-gap: 16px;
  }
}